<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}{% endblock title %}
        {% if page.slug != "/" %}&nbsp;|&nbsp;{% endif %}
        {{ globals.title }}
    </title>

    <link rel="alternate" type="application/rss+xml" title="{{ globals.title }}" href="/rss.xml">
    <link rel="stylesheet" href="{{ globals.base_url }}/assets/styles.css">

    {% block meta %}{% endblock meta %}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h2 class="logo"><a href="/">Elliot Jackson</a></h2>

            <nav>
                <ul class="links">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/opensource">Open Source</a></li>
                    <li><a href="/about">About</a></li>
                </ul>

                <ul class="hire">
                    <li><a href="/hire" class="button button-teal">Hire Me</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="site-main container">
        <main class="site-content">
            {% block content %}
            {{ page.content | safe }}
            {% endblock content %}
        </main>

        <aside class="site-sidebar">
            <div class="bio">
                <img src="/static/avatar.jpg" />
                <p>Hi, I'm Elliot. I build software.</p>
            </div>

            <ul class="social">
                <li>
                    <span class="small-title">GitHub</span>
                    <a href="https://github.com/elliotekj">@elliotekj</a>
                </li>

                <li>
                    <span class="small-title">Dribbble</span>
                    <a href="https://dribbble.com/elliotekj">@elliotekj</a>
                </li>

                <li>
                    <span class="small-title">Email</span>
                    <a href="mailto:elliot@elliotekj.com">elliot@elliotekj.com</a>
                </li>
            </ul>

            <ul class="docs">
                <li>
                    <span class="small-title">Docs</span>
                    <a href="/docs/thea">thea</a>
                </li>
            </ul>
        </aside>
    </div>

    <footer class="site-footer">
        <div class="container">
            © 2020 Elliot Jackson. Powered by <a href="https://github.com/elliotekj/thea">thea</a>.
        </div>
    </footer>
</body>
</html>

