@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Global
 */

body {
    @apply bg-black;
    @apply text-gray-400;;
}

hr {
    @apply bg-gray-900;
    @apply my-5;
    border: none;
    height: 4px;
    width: 100px;
}

blockquote {
    @apply border-l-4 border-teal-400;
    @apply pl-5;
}

dt {
    @apply mb-1 mt-5;
}

dd {
    @apply ml-5;
}

img {
    @apply block;
    max-width: 100%;
}

a.button {
    @apply font-mono font-semibold text-sm;
    @apply no-underline !important;
    @apply py-2 px-4;
    @apply rounded;
    @apply text-white !important;
}

a.button-teal {
    @apply bg-teal-400;
}

a.button-teal:hover {
    @apply bg-teal-500;
}

a.button-orange {
    @apply bg-orange-400;
}

a.button-orange:hover {
    @apply bg-orange-500;
}

a.button-purple {
    @apply bg-purple-400;
}

a.button-purple:hover {
    @apply bg-purple-500;
}

/*
 * Header
 */

.site-header {
    @apply border-b border-gray-900;
    @apply w-full;
}

.site-header .container {
    @apply flex items-center justify-between;
    @apply mx-auto py-4;
}

.site-header .logo {
    @apply font-semibold text-xl;
    @apply mb-0;
}

.site-header .logo a {
    @apply text-white;
}

.site-header ul {
    @apply flex;
    @apply font-mono text-sm;
}

.site-header li {
    @apply ml-5;
}

.site-header li a {
    @apply text-gray-400;
}

.site-header li a:hover {
    @apply text-white;
}

/*
 * Sidebar
 */

.site-sidebar .bio {
    @apply flex flex-row items-center;
    @apply font-mono text-xs;
    @apply mb-10;
}

.site-sidebar img {
    @apply inline-block;
    @apply mr-3;
    @apply rounded;
    max-width: 48px;
}

.site-sidebar .social li + li {
    @apply mt-3;
}

.site-sidebar a {
    @apply text-gray-400;
}

.site-sidebar a:hover {
    @apply text-white;
}

.site-sidebar .small-title {
    @apply block;
    @apply font-mono text-xs;
}

.site-sidebar .docs {
    @apply border-t border-gray-900;
    @apply mt-10 pt-10;
}

/*
 * Footer
 */

.site-footer .container {
    @apply font-mono text-sm text-gray-400;
    @apply mx-auto py-10;
}

.site-footer a {
    @apply text-white;
}

.site-footer a:hover {
    @apply text-teal-400;
}

/*
 * Generated content
 */

.site-main {
    @apply border-r border-b border-gray-900;
    @apply pr-10 pb-20;
    @apply w-full;
}

@screen lg {
    .site-main {
        @apply w-9/12;
    }
}

.site-main a, .site-main a:visited {
    @apply text-teal-400 no-underline;
}

.site-main a:hover {
    @apply text-teal-600;
}

.site-main > * + *,
blockquote * + *,
.pad-children > * + * {
    @apply mt-5;
}

.site-main h1 {
    @apply font-semibold text-3xl text-white;
    @apply mb-6;
}

.site-main h1:after {
    @apply block;
    @apply border-b-4 border-teal-400;
    content: "";
    margin-top: 4px;
    width: 100px;
}

.site-main h2, .site-main h3 {
    @apply font-semibold text-2xl text-white;
}

.site-main ul {
    @apply ml-10;
    list-style-type: circle;
}

.site-main ol {
    list-style-type: decimal;
    @apply ml-10;
}

.site-main li {
    @apply mb-1;
}

.site-main .social-buttons {
    @apply flex justify-center;
    @apply list-none;
    @apply m-0 pt-16;
}

.site-main .social-buttons li {
    @apply mx-2;
}

/*
 * Code
 */

.pre-filename {
    @apply font-mono text-xs text-white;
    @apply inline-block;
}

.pre-filename:after {
    @apply ml-1;
    @apply text-base text-teal-400;
    content: "↓";
}

.pre-filename + pre {
    @apply mt-0 !important;
}

pre {
    @apply w-full py-4 overflow-x-auto;
    background: theme('colors.codeblock');
    color: #839496;
}

pre code {
    @apply font-mono text-xs;
}

pre .line {
    @apply px-5;
}

pre .line-highlight {
    @apply bg-teal-900 text-white;
    @apply relative;
}

pre .line-highlight:before {
    @apply absolute inline-block;
    @apply bg-teal-400;
    @apply top-0 bottom-0 left-0;
    content: "";
    width: 4px;
}

pre .line-nb {
    @apply pr-5 inline-block;
    @apply text-center;
    color: #839496;
    width: 2rem;
}

pre .line-highlight .line-nb {
    @apply text-white;
}

code {
    @apply text-base;
}
