@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Global
 */

body {
    @apply bg-black;
    @apply text-gray-400;;
}

.container {
    @apply px-5;
}

@screen md {
    .container {
        @apply px-0;
    }
}

hr {
    @apply bg-gray-900;
    @apply my-5;
    border: none;
    height: 4px;
    width: 100px;
}

blockquote {
    @apply border-l-4 border-teal-400;
    @apply pl-5;
}

dt {
    @apply mb-1 mt-5;
}

dd {
    @apply ml-5;
}

img {
    @apply block;
    max-width: 100%;
}

a.button {
    @apply font-mono font-semibold text-sm;
    @apply no-underline !important;
    @apply py-2 px-4;
    @apply rounded;
    @apply text-white !important;
}

a.button-teal {
    @apply bg-teal-400;
}

a.button-teal:hover {
    @apply bg-teal-500;
}

a.button-orange {
    @apply bg-orange-400;
}

a.button-orange:hover {
    @apply bg-orange-500;
}

a.button-purple {
    @apply bg-purple-400;
}

a.button-purple:hover {
    @apply bg-purple-500;
}

/*
 * Header
 */

.site-header {
    @apply border-b border-gray-900;
    @apply w-full;
}

.site-header .container {
    @apply flex flex-col;
    @apply mx-auto py-4;
}

@screen sm {
    .site-header .container {
        @apply flex-row items-center justify-between;
    }
}

.site-header .logo {
    @apply font-semibold text-xl;
    @apply mb-2;
    @apply text-white;
}

@screen sm {
    .site-header .logo {
        @apply mb-0;
    }
}

.site-header .logo a {
    @apply text-white;
}

.site-header nav {
    @apply flex justify-between;
}

@screen sm {
    .site-header nav {
        @apply justify-end;
    }
}

.site-header ul {
    @apply flex;
    @apply font-mono text-sm;
}

.site-header li + li {
    @apply ml-5;
}

.site-header .hire li {
    @apply ml-5;
}

.site-header li a {
    @apply text-gray-400;
}

.site-header li a:hover {
    @apply text-white;
}

/*
 * Main
 */

.site-main {
    @apply flex flex-col;
    @apply mx-auto mt-20;
}

@screen md {
    .site-main {
        @apply flex-row;
    }
}

/*
 * Content
 */

.site-content {
    @apply border-b border-gray-900;
    @apply pb-20;
    @apply w-full;
}

@screen md {
    .site-content {
        @apply border-r border-gray-900;
        @apply w-9/12 pr-10;
    }
}

.site-content a, .site-content a:visited {
    @apply text-teal-400 no-underline;
}

.site-content a:hover {
    @apply text-teal-600;
}

.site-content > * + *,
blockquote * + *,
.pad-children > * + * {
    @apply mt-5;
}

.site-content h1 {
    @apply font-semibold text-3xl text-white leading-tight;
    @apply mb-6;
}

.site-content h1:after {
    @apply block;
    @apply border-b-4 border-teal-400;
    content: "";
    margin-top: 6px;
    width: 100px;
}

.site-content h2, .site-content h3 {
    @apply font-semibold text-2xl text-white;
}

.site-content ul {
    @apply ml-10;
    list-style-type: circle;
}

.site-content ol {
    list-style-type: decimal;
    @apply ml-10;
}

.site-content li {
    @apply mb-1;
}

.site-content .social-buttons {
    @apply flex flex-col justify-center;
    @apply list-none;
    @apply m-0 pt-16;
    @apply text-center;
}

.site-content .social-buttons li {
    @apply my-2;
}

@screen lg {
    .site-content .social-buttons {
        @apply flex-row;
        @apply text-left;
    }

    .site-content .social-buttons li {
        @apply mx-2 my-0;
    }
}

/*
 * Sidebar
 */

.site-sidebar {
    @apply w-full pt-10;
}

@screen md {
    .site-sidebar {
        @apply w-3/12 pt-0 pl-10;
    }
}

.site-sidebar .bio {
    @apply flex flex-col;
    @apply font-mono text-xs;
    @apply mb-10;
}

@screen lg {
    .site-sidebar .bio {
        @apply flex-row items-center;
    }
}

.site-sidebar img {
    @apply inline-block;
    @apply mb-3;
    @apply rounded;
    max-width: 48px;
}

@screen lg {
    .site-sidebar img {
        @apply mr-3 mb-0;
    }
}

.site-sidebar .social {
    @apply flex flex-row items-center;
}

@screen md {
    .site-sidebar .social {
        @apply flex-col items-start;
    }
}

.site-sidebar .social li + li {
    @apply ml-3;
}

@screen md {
    .site-sidebar .social li + li {
        @apply ml-0 mt-3;
    }
}

.site-sidebar a {
    @apply text-gray-400;
}

.site-sidebar a:hover {
    @apply text-white;
}

.site-sidebar .small-title {
    @apply block;
    @apply font-mono text-xs;
}

.site-sidebar .docs {
    @apply border-t border-gray-900;
    @apply mt-10 pt-10;
}

/*
 * Footer
 */

.site-footer .container {
    @apply font-mono text-sm text-gray-400;
    @apply mx-auto py-10;
}

.site-footer a {
    @apply text-white;
}

.site-footer a:hover {
    @apply text-teal-400;
}

/*
 * Code
 */

.pre-filename {
    @apply font-mono text-xs text-white;
    @apply inline-block;
}

.pre-filename:after {
    @apply ml-1;
    @apply text-base text-teal-400;
    content: "↓";
}

.pre-filename + pre {
    @apply mt-0 !important;
}

pre {
    @apply w-full py-4 overflow-x-auto;
    background: theme('colors.codeblock');
    color: #839496;
}

pre code {
    @apply font-mono text-xs;
}

pre .line {
    @apply px-5;
}

pre .line-highlight {
    @apply bg-teal-900 text-white;
    @apply relative;
}

pre .line-highlight:before {
    @apply absolute inline-block;
    @apply bg-teal-400;
    @apply top-0 bottom-0 left-0;
    content: "";
    width: 4px;
}

pre .line-nb {
    @apply pr-5 inline-block;
    @apply text-center;
    color: #839496;
    width: 2rem;
}

pre .line-highlight .line-nb {
    @apply text-white;
}

code {
    @apply text-base;
}

/*
 * Alerts
 */

.alert {
    @apply bg-teal-100 border-t-4 border-teal-400 rounded-b;
    @apply px-4 py-3;
    @apply text-teal-900;
}

.alert-icon {
    @apply py-1;
}

.alert-svg {
    @apply fill-current text-teal-700;
    @apply h-6 w-6 mr-4;
}

/*
 * Docs
 */


.docs-header {
    @apply flex flex-col items-start;
}

@screen lg {
    .docs-header {
        @apply flex-row justify-between items-start;
    }
}

.docs-header .buttons {
    @apply flex;
}

.docs-header .buttons a + a {
    @apply ml-3;
}
